.fc-scrollgrid-sync-table, .fc-scrollgrid-section-header{
    display: none;
}
.fc .fc-toolbar.fc-header-toolbar{
    margin: inherit!important;
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;
    border-radius: calc(0.25rem - 0px) calc(0.25rem - 0px) 0 0;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    padding: 1rem 1.25rem;
    margin-bottom: 0;
    border-bottom: 1px solid #e9ecef !important;
    display: flex;
}
.fc .fc-toolbar-title{
    --bs-text-opacity: 1;
    color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.125rem!important;
    
}
#zimbra_mail .card{
    margin-bottom: 0!important;
}
.fc .fc-timegrid-slot{
    background-color: white;
}
.fc-timegrid-slots colgroup col{
    width: 75px!important;
   
}
.fc-timegrid-cols colgroup col{
    width: 74px!important; 
}
.fc-theme-standard .fc-scrollgrid{
    border: 0px!important;
}
.fc-timegrid-divider{
    display: none;
}
tbody .fc-scrollgrid-section:first-child{
    display: none;
}
.fc-timegrid-slots tbody tr:nth-child(2n){
    border-bottom: 1px solid #e9ecef33 !important;
}
.fc-timegrid-slots tbody tr:nth-child(2n+1){
    border: 0!important;
}
.fc-theme-standard td, .fc-theme-standard th{
    border: 0px!important;
}
.fc-timegrid-event .fc-event-main {
    padding: 10px 1px 0;
}
.fc-v-event{
    border: inherit!important;
    border-left: 3px solid var(--fc-event-bg-color);
    opacity: 0.88;
    background-color: #1f3889!important;
}
.fc-timegrid-event, .fc-timegrid-more-link{
    border-radius: inherit!important;
}
div#zimbra_block_agenda_id {
    width: 32%!important;
}

img.profile-pic.rounded-circle {
    object-fit: cover;
}
.scroll_on_table{
    max-height: 300px;
    overflow: hidden;
    overflow-y: auto;
}

body[data-theme=dark] .fc .fc-toolbar.fc-header-toolbar
{
    background-color: inherit!important;
    border-bottom: 1px solid #e9ecef33 !important;
}

body[data-theme=dark] .fc-toolbar-title{
    color: #e9ecef !important;
}

body[data-theme=dark] #pastell_block .feather, body[data-theme=dark] #zimbra_mail .feather, body[data-theme=dark] .page-link{
    color: #e9ecef !important;
}
table.dataTable tbody tr{
    background-color: inherit!important;
}
body[data-theme=dark] .page-link:hover{
    border: 2px solid #dee2e6;

}
body[data-theme=dark] .fc td.fc-timegrid-slot{
    background-color: #272b34 !important;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #272b34; 
  }