div#post_it_dashboard {
    margin-top: 1.25em;
    min-height: 15rem;
    border: 1px solid #e9ecef !important;
    padding: 1rem;
    background-color: #FFF;
    
}

#delete-button {
    width: 10% !important;
}

.no-resize {
    resize: none;
  }

  #postit_block_id{
    margin-bottom: 0.5rem !important;
  }