
:root {
    --global-color: #1f3889;
  }


.btn-e-coll{
    background-color: var(--global-color)!important;
    
}
.card-img-top {
    width: 300px!important; 
    max-width: 300px!important;
    height: 200px;
    object-fit: cover;
}
#moodle_courses .card .card{
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    margin-bottom: 1rem!important;
}

#moodle_courses p{
    margin: 0 0 0 0!important;

}