.message_avertissement p{
        margin-bottom: 0px!important
    }
    
    .message_avertissement{
        display:inline-block;
        margin: 0 0 20px 0;
        width: 100%; 
        z-index: 9;
      }  
    