
:root {
    --global-color: #1f3889;
  }
  #menuTestLemon2 .sidebar-link, #menuPastell .sidebar-link, #menuLogMetiers .sidebar-link {
    padding: 2px 0 0 5px!important;
    display: flex;
    white-space: nowrap;
    align-items: center;
    position: relative;
    line-height: 25px;
    font-size: 16px;
    opacity: 0.6;
    color: #fff;
    border-left: 3px solid transparent;
}

.sidebar-nav ul .nav-small-cap {
    font-size: 12px;
    line-height: 30px;
    color: #fff;
    opacity: 1;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0px 14px 0px 15px;
    display: flex;
    align-items: center;
    /* white-space: nowrap; */
    cursor: pointer;
}
.accordion-body {
    padding: 0rem 0rem 0rem 0!important;
}
.feather{
    margin: 0 2px 0 5px!important;
}

div.long-category span.hide-menu{
    line-height: 20px;
	padding: 0px 12px 0 0px;
}

#block_appli_lemon div:first-child i , #block_appli_lemon div:first-child img{
    width: 50px;
    height: 50px;
}


#block_appli_lemon a:hover{
    color: var(--global-color);
}
